h1 {
  font-size: 50px;
  color: #050202;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Tahoma, sans-serif;
  color: #66bfbf;
  padding-bottom: 10px;
}
h3 {
  font-family: "Arial Narrow Bold", sans-serif;
  color: #11999e;
}
.top-container {
  background-color: burlywood;
  position: relative;
  padding-top: 15vh;
}
.top-cloud {
  position: absolute;
  right: 10vw;
  top: 8vh;
}
.bottom-cloud {
  position: absolute;
  left: 10vw;
  bottom: 35vh;
}

body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.middle-container {
  margin: 15vh 0;
  background-color: rgb(255, 251, 246);
}
.mountain-img {
  width: 40vw;
}
.footer-link {
  color: black;
}

.pc {
  width: 15%;
}
.chil {
  width: 10%;
}
.scr {
  width: 10%;
}
.myButton {
  box-shadow: 0px 0px 0px 2px #4b79fa;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 2vw;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 19px;
  font-style: italic;
  padding: 14px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.myButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.myButton:active {
  position: relative;
  top: 2vh;
}
.bottom-container {
  background-color: #66bfbf;
}
a:hover {
  color: #eaf6ea;
}
.form-container {
  margin: 10px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 5vw 0;
}
/*mobiles  */
@media only screen and (max-width: 600px) {
  .top-container {
    padding-top: 10vh;
  }
  .top-container h1 {
    font-size: 20px;
  }
  .mountain-img {
    width: 50vw;
  }
  .top-cloud {
    top: 3vh;
    width: 30vw;
  }
  .bottom-cloud {
    width: 30vw;
    left: 4vw;
    bottom: 20vw;
  }
}
/* Tablets*/
@media only screen and (min-width: 768px) {
  .top-container h1 {
    font-size: 30px;
  }
  .top-container p {
    font-size: 20px;
  }
  .mountain-img {
    width: 50vw;
  }
  .top-cloud {
    top: 3vh;
    width: 30vw;
  }
  .bottom-cloud {
    width: 30vw;
    left: 4vw;
    bottom: 20vw;
  }

  .myButton {
    font-size: 25px;
  }
}
/* large devices*/
@media only screen and (min-width: 992px) {
  .top-container {
    padding-top: 12vh;
  }
  .top-container h1 {
    font-size: 50px;
  }
  .top-container p {
    font-size: 30px;
  }
  .body {
    font-size: 50px;
  }
}
/* end */
